.curved-div {
  position: relative;
  background: #3f51b5;
  color: #FFF;
  text-align: center;
  overflow: hidden;
}
.curved-div svg {
  display: block;
}
.curved-div.upper {
  background: #3f51b5;
}
.curved-div h1 {
  font-size: 6rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top:0rem;
}
.curved-div p {
  font-size: 1rem;
  margin:0 5rem 0rem 5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  /* background-color: #009688;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .app-header {
    background-color: #009688;
    background-size: 100% 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    height: 100vh;
} */

.app-header h1{
  font-size: 10rem;
}

.App-link {
  color: #61dafb;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.intro {
  display: inline-block;
  width: 100%;
}

.intro img {
  width: 300px;
  height: 300px;
}

:root {
  --primary-color: #425b84;
  --secondary-color: #5b7bb4;
  --max-width: 1100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image {
  width: 100%;
  border-radius: 10px;
}

h3 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

/* Import */
@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 300;
  src: local("Chivo Light Italic"), local("Chivo-LightItalic"),
    url(https://fonts.gstatic.com/s/chivo/v11/va9D4kzIxd1KFrBteUp9gK_uQQ.ttf)
      format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 400;
  src: local("Chivo Italic"), local("Chivo-Italic"),
    url(https://fonts.gstatic.com/s/chivo/v11/va9G4kzIxd1KFrBtceFfkA.ttf)
      format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 700;
  src: local("Chivo Bold Italic"), local("Chivo-BoldItalic"),
    url(https://fonts.gstatic.com/s/chivo/v11/va9D4kzIxd1KFrBteVp6gK_uQQ.ttf)
      format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 900;
  src: local("Chivo Black Italic"), local("Chivo-BlackItalic"),
    url(https://fonts.gstatic.com/s/chivo/v11/va9D4kzIxd1KFrBteWJ4gK_uQQ.ttf)
      format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 300;
  src: local("Chivo Light"), local("Chivo-Light"),
    url(https://fonts.gstatic.com/s/chivo/v11/va9F4kzIxd1KFrjDY_Z4sKg.ttf)
      format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  src: local("Chivo Regular"), local("Chivo-Regular"),
    url(https://fonts.gstatic.com/s/chivo/v11/va9I4kzIxd1KFrBoQeY.ttf)
      format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 700;
  src: local("Chivo Bold"), local("Chivo-Bold"),
    url(https://fonts.gstatic.com/s/chivo/v11/va9F4kzIxd1KFrjTZPZ4sKg.ttf)
      format("truetype");
}
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 900;
  src: local("Chivo Black"), local("Chivo-Black"),
    url(https://fonts.gstatic.com/s/chivo/v11/va9F4kzIxd1KFrjrZvZ4sKg.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 100;
  src: local("Saira Thin"), local("Saira-Thin"),
    url(https://fonts.gstatic.com/s/saira/v4/mem-Ya2wxmKQyNFEfZE1Ug.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 200;
  src: local("Saira ExtraLight"), local("Saira-ExtraLight"),
    url(https://fonts.gstatic.com/s/saira/v4/mem9Ya2wxmKQyNHobIYScr0.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 300;
  src: local("Saira Light"), local("Saira-Light"),
    url(https://fonts.gstatic.com/s/saira/v4/mem9Ya2wxmKQyNGMb4YScr0.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 400;
  src: local("Saira Regular"), local("Saira-Regular"),
    url(https://fonts.gstatic.com/s/saira/v4/memwYa2wxmKQyNknTZY.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 500;
  src: local("Saira Medium"), local("Saira-Medium"),
    url(https://fonts.gstatic.com/s/saira/v4/mem9Ya2wxmKQyNHUboYScr0.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 600;
  src: local("Saira SemiBold"), local("Saira-SemiBold"),
    url(https://fonts.gstatic.com/s/saira/v4/mem9Ya2wxmKQyNH4aYYScr0.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 700;
  src: local("Saira Bold"), local("Saira-Bold"),
    url(https://fonts.gstatic.com/s/saira/v4/mem9Ya2wxmKQyNGcaIYScr0.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 800;
  src: local("Saira ExtraBold"), local("Saira-ExtraBold"),
    url(https://fonts.gstatic.com/s/saira/v4/mem9Ya2wxmKQyNGAa4YScr0.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 100;
  src: local("Saira ExtraCondensed Thin"), local("SairaExtraCondensed-Thin"),
    url(https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFsOHYr-vcC7h8MklGBkrvmUG9rbpkisrTri3j2_Co.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 200;
  src: local("Saira ExtraCondensed ExtraLight"),
    local("SairaExtraCondensed-ExtraLight"),
    url(https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrJ2nh2wpk.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 300;
  src: local("Saira ExtraCondensed Light"), local("SairaExtraCondensed-Light"),
    url(https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrQ2rh2wpk.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 400;
  src: local("Saira ExtraCondensed Regular"),
    local("SairaExtraCondensed-Regular"),
    url(https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFiOHYr-vcC7h8MklGBkrvmUG9rbpkisrTj6Ejx.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 500;
  src: local("Saira ExtraCondensed Medium"), local("SairaExtraCondensed-Medium"),
    url(https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrG2vh2wpk.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 600;
  src: local("Saira ExtraCondensed SemiBold"),
    local("SairaExtraCondensed-SemiBold"),
    url(https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrN2zh2wpk.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Saira ExtraCondensed Bold"), local("SairaExtraCondensed-Bold"),
    url(https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrU23h2wpk.ttf)
      format("truetype");
}
@font-face {
  font-family: "Saira Extra Condensed";
  font-style: normal;
  font-weight: 800;
  src: local("Saira ExtraCondensed ExtraBold"),
    local("SairaExtraCondensed-ExtraBold"),
    url(https://fonts.gstatic.com/s/sairaextracondensed/v5/-nFvOHYr-vcC7h8MklGBkrvmUG9rbpkisrTrT27h2wpk.ttf)
      format("truetype");
}
/* Variables */
/* Base */
body {
  font-size: 16px;
  background: linear-gradient(to right, #429ab5 0%, #083281 100%);
}
p {
  font-weight: 300;
}

strong {
  font-weight: 600;
}
h1 {
  font-family: "Saira", sans-serif;
  letter-spacing: 1.5px;
  color: white;
  font-weight: 400;
  font-size: 2.4em;
  margin-bottom: 1rem;
}
#timeline-content {
  margin-top: 50px;
  text-align: center;
}

/* Timeline */
.timeline {
  border-left: 4px solid #004ffc;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);
  font-family: "Chivo", sans-serif;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  width: 40%;
}

.timeline h2,
.timeline h3 {
  font-family: "Saira", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: rgba(255, 255, 255, 1);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
  font-family: "Saira", sans-serif;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #004ffc;
  left: -57.85px;
  background: #ffffff;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

/* CSS gallery */

:root {
  --dark: #373349;
  --shadow: rgba(0,0,0,.2);
}

.img-container {
  background-color: var(--dark);
  margin: 5px;
}

.img-container > a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.img-container > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 2px 16px var(--shadow);
}

.img-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;
}

.horizontal {
  grid-column: span 2;
  cursor: pointer;
}

.vertical {
  grid-row: span 2;
  cursor: pointer;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
  cursor: pointer;
}